@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mark;
  src: url(./assets/Mark-Pro.ttf) format("truetype");
}

@font-face {
  font-family: Georgia,;
  src: url(./assets/Georgia.ttf) format("truetype");
}

@font-face {
    font-family: Anvir;
    src: url(./assets/AvenirLTStd-Book.otf) format("opentype");
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}